<style>
  .btn-search {
    background-color: #fe424d;
    color: #fff;
    border: none;
    border-radius: 20px;
  }

  .btn-search:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-input {
    border-radius: 20px;
    padding: 0 2.5rem;
  }

  .navbar {
    height: 8.7rem;
    display: block;
    flex-direction: column;

  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid " style="background-color: white;">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>


    <form class="d-flex " role="search" action="/listings/results">
      <input class="form-control me-2 search-input" type="search" name="search_query" placeholder="Search destination"
        aria-label="Search">
      <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
    </form>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="max-width: 300px;">
      <!-- <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
        </div> -->



      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add new listing</a>
        <% if(!currUser ){ %>
          <a class="nav-link active" href="/signup"><b>signUp</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
          <% } %>
            <% if(currUser){%>
              <a class="nav-link" href="/logout"><b>LogOut</b></a>
              <% } %>
      </div>
    </div>
  </div>

    <input type="checkbox" id="check" >
    <label for="check" class="checkbox-i" >
      <i class="fa-solid fa-bars-staggered"></i>
    </label>



  <!-- category -->
  <div id="filters">
    <div class="side_scroll">

      <div id="filter">
        <a href="/listings">
          <div><i class="fa-solid fa-compass" style="font-size: 1.2rem;"></i></div>
          <p>All</p>
        </a>
      </div>

      <div id="filter">
        <a href="/trending">
          <div><i class="fa-solid fa-fire"></i></div>
          <p>Trending</p>
        </a>
      </div>


      <div id="filter">
        <a href="/bedroom">
          <div><i class="fa-solid fa-bed"></i></div>
          <p>Bedroom</p>
        </a>
      </div>


      <div id="filter">
        <a href="/swimming">
          <div><i class="fa-solid fa-person-swimming"></i></div>
          <p>Swimming</p>
        </a>
      </div>


      <div id="filter">
        <a href="/city">
          <div><i class="fa-solid fa-city"></i></div>
          <p>City</p>
        </a>

      </div>
      <div id="filter">
        <a href="/mountains">
          <div><i class="fa-solid fa-mountain"></i></div>
          <p>mountains</p>
        </a>

      </div>
      <div id="filter">
        <a href="/camping">
          <div><i class="fa-solid fa-campground"></i></div>
          <p>Camping</p>
        </a>

      </div>
      <div id="filter">
        <a href="/farms">
          <div><i class="fa-solid fa-tractor"></i></div>
          <p>Farms</p>
        </a>

      </div>
      <div id="filter">
        <a href="/arctic">
          <div><i class="fa-solid fa-snowflake"></i></div>
          <p>Arctic</p>
        </a>

      </div>
      <div id="filter">
        <a href="/building">
          <div><i class="fa-solid fa-building"></i></div>
          <p>Building</p>
        </a>

      </div>
      <div id="filter">
        <a href="/near_road">
          <div><i class="fa-solid fa-road"></i></div>
          <p>Near road </p>
        </a>

      </div>
    </div>

    <div id="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after tax </label>
      </div>
    </div>
  </div>

</nav>