<% layout('layouts/boilerplate') -%>

    <style>
        .nothing_found {
            margin-top: 4%;
        }
    </style>


    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-4">
        <% let foundData=false %>

            <% for(listing of allListings){ %>
                <% if( listing.title.toLowerCase().includes(searchVal.toLowerCase()) ||
                    listing.category?.toLowerCase().includes(searchVal.toLowerCase()) ||
                    listing.description.toLowerCase().includes(searchVal.toLowerCase()) || (!isNaN(searchVal) &&
                    Number(listing.price) <=Number(searchVal)) ||
                    listing.location.toLowerCase().includes(searchVal.toLowerCase()) ||
                    listing.country.toLowerCase().includes(searchVal.toLowerCase()) ){%>

                    <% foundData=true %>
                        <a href="/listings/<%=listing._id%>" class="listing-link">
                            <div class="card col listing-card">
                                <img src="<%=listing.image.url %>" class="card-img-top" alt="listing_image"
                                    style="height: 20rem;">
                                <div class="card-img-overlay card-img-overlay"></div>
                                <div class="card-body">
                                    <p class="card-text">
                                        <b>
                                            <%=listing.title%>
                                        </b>
                                        <br>
                                        &#8377;<%= typeof listing.price==="number" ?
                                            listing.price.toLocaleString("en-IN") : listing.price %>/
                                            Night
                                            <i class="tax-info"> &nbsp; &nbsp;+18% GST</i>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <% } %>
                            <% } %>
                                <% if(!foundData) {%>
                                    <div class="nothing_found">
                                        <h2>Listing Not Found !</h2>
                                    </div>
                                    <% } %>

    </div>

    <script>
        let taxSwitch = document.getElementById("tax-toggle");
        taxSwitch.addEventListener("click", () => {
            let taxInfo = document.getElementsByClassName("tax-info");
            for (info of taxInfo) {
                if (info.style.display != "inline") {
                    info.style.display = "inline"
                }
                else {
                    info.style.display = "none"
                }

            }
        })
    </script>