<% layout('layouts/boilerplate') -%>

<div class="row mt-3">
    <h2 class="col-6 offset-3">signUp on wanderlust</h2>
    <div class="col-6 offset-3">
        <form action="/signUp" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" >Username</label>
                <input type="text" id="username" name="username" class="form-control" required>
                <div class="invalid-feedback">
                    Plese enter  Username
                </div>
            </div>
            <div class="mb-3">
                <label for="email" >Email</label>
                <input type="email" id="email" name="email" class="form-control" required>
                <div class="invalid-feedback">
                    Plese enter Email
                </div>
            </div>
            <div class="mb-3">
                <label for="password" >Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
                <div class="invalid-feedback">
                    Plese enter Password
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
</div>